#quadrado{
    width: 120px; /* comprimento*/
    height: 120px; /*altura */
    background-color: rgb(99, 6, 185); /*cor de fundo*/
}
.basico{
    width: 120px; /* comprimento */
    height: 120px; /* altura*/
}