h1,p{
    color:rgb(69, 235, 247);
    text-align: center;
}
#primeiro{
    color: darkgreen;
}
#segundo{
    color: blue;
}
#terceiro{
    color: gold;
}
#quarto{
    color: deeppink;
}
#quadrado{
    width: 120px; /* comprimento*/
    height: 120px; /*altura */
    background-color: rgb(99, 6, 185); /*cor de fundo*/
}
.basico{
    width: 120px; /* comprimento */
    height: 120px; /* altura*/
}